.search-inputgroup input{
    width: 20%;
    height: 2.5rem;
}
/* th, td{
    padding: 15px;
    background-color: #fff;
}
.matrics-table{
    background-color: lightgray;
    margin-top: 15px;
} */

.resizable-container {
    position: relative;
    width: 100%;
  }
  
  .resizable {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    resize: horizontal;
    overflow: hidden;
  }
  
  .drag-handle {
    position: absolute;
    top: 0;
    right: -4px; /* Adjust position */
    width: 8px;
    height: 100%;
    cursor: ew-resize;
    background-color: #ddd;
  }