<div class="grid grid-nogutter flex-column overflow-hidden">
    <div class="col-12 flex flex-column">
        <div class="mt-4 p-4 ml-1 grid grid-nogutter">
            <div class="col-12">
                <div class="mt-4 text-center md:text-left">
                    <h2 class="heading-text mt-4 font-bold">Feature Plots and Comparisons</h2>
                    <p class="p-text mt-4 font-medium">
                        The following predictions are being done using the BL_GB
                        <br><span>Model</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="ftr-plots-btn ml-4">
            <div class="plot-btns grid grid-nogutter mt-7">
                <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex justify-content-center mb-4">
                    <button pButton pRipple class="p-button-success p-3 w-full text-left">
                        Contact
                    </button>
                </div>
                <div class=" col-12 sm:col-6 md:col-4 lg:col-3 flex justify-content-center mb-4">
                    <button pButton pRipple class="p-button-success p-3 w-full text-left">
                        Monthly Charges
                    </button>
                </div>
            </div>
            <div class=" plot-btns grid grid-nogutter mt-8">
                <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex justify-content-center mb-4">
                    <button pButton pRipple class="p-button-success p-3 w-full text-left">
                        Payment Method
                    </button>
                </div>
                <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex justify-content-center mb-4">
                    <button pButton pRipple class="p-button-success p-3 w-full text-left">
                        Tenure
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
