<div class="grid-nogutter">
    <div class="col main-page">
        <div class="grid grid-nogutter overflow-hidden mt-6">
            <div class="col flex align-items-center justify-content-center h-full">
                <div class="align-items-center mt-8">
                    <h2 class=" heading-text mt-5 mb-8 font-medium" style="font-size: 3.5rem;">Losing Customers?</h2>
                    <h1 class="page-text text-bold" style="font-size: 4rem;">
                        Here's How <br>
                        <span class="highlight">Churn Prediction</span> <br>
                        Can Help You
                    </h1>
                </div>
            </div>
            <div class="col flex flex-column align-items-end mr-5 h-full">
                <img src="assets/images/page-img.png" alt="Image">
            </div>
        </div>
    </div>
</div>
